@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .row{
    margin: 15px;
  }
  
  .blink-text {
    animation: blink 1.5s infinite; // Ajusta la duración según tus preferencias
  }

  .winner{
    color:gold;
    font-size: 30px;
  }
  .block{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    input{
        margin-bottom: 20px;
    }
  }
  .mesa-input-container {
    display: flex;
    align-items: center; // Alinear verticalmente los elementos
    margin-bottom: 10px; // Ajusta según sea necesario
  
    p {
      margin-right: 10px; // Espacio entre el texto y el input
    }
  }
  
  .buttons{
    width: 200px;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: rgb(234, 234, 240);
    font-size: 15px;
    font-weight: bold;
    color: black;

  }

  .scrollable-container {
    overflow-y: auto;
    max-height: 400px; // Ajusta según sea necesario
    p{
        font-size: 20px;
    }
    div{
        ul{
            li{
                font-size: 20px;
                list-style-type: none;
            }
        }
    }
  }
  
  // Resto de tus estilos aquí
  